/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}
a, a *{
  -o-transition:.3s;
  -ms-transition:.3s;
  -moz-transition:.3s;
  -webkit-transition:.3s;
  /* ...and now for the proper property */
  transition:.3s;
}

@charset "utf-8";
/* Structure CSS */

@font-face {
	font-family:'FontAwesome';
	src:url('font/fontawesome-webfont.eot?v=4.0.3');
	src:url('font/fontawesome-webfont.eot?#iefix&v=4.0.3') format('embedded-opentype'),
		url('font/fontawesome-webfont.woff?v=4.0.3') format('woff'),
		url('font/fontawesome-webfont.ttf?v=4.0.3') format('truetype'),
		url('font/fontawesome-webfont.svg?v=4.0.3#fontawesomeregular') format('svg');
	font-weight:normal;
	font-style:normal;
}
span.icon{font-family:'FontAwesome';}

@font-face {
    font-family: 'roboto_condensedregular';
    src: url('font/RobotoCondensed-Regular-webfont.eot');
    src: url('font/RobotoCondensed-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/RobotoCondensed-Regular-webfont.woff') format('woff'),
         url('font/RobotoCondensed-Regular-webfont.ttf') format('truetype'),
         url('font/RobotoCondensed-Regular-webfont.svg#roboto_condensedregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


body {
	background: #f3f3f3;
	font-family: 'roboto_condensedregular' !important;
}

h1{ font-size: 20px; color:  #df823d; margin-bottom: 10px; text-transform: uppercase; font-family: 'roboto_condensedregular';}
h2{ font-size: 18px; color:  #df823d; margin-bottom: 10px; text-transform: uppercase; font-family: 'roboto_condensedregular';}
h3{ font-size: 16px; color:  #df823d; margin-bottom: 10px; text-transform: uppercase; font-family: 'roboto_condensedregular';}
h4{ font-size: 14px; color:  #df823d; margin-bottom: 10px; text-transform: uppercase; font-family: 'roboto_condensedregular';}

.error					{background: #ffbaba; border: 1px solid #d8000c; color: #d8000c; padding: 15px; margin-bottom: 20px;}
.succes					{background: #dff2bf; border: 1px solid #4f8a10; color: #4f8a10; padding: 15px; margin-bottom: 20px;} 

.img-responsive 	{max-width: 100%;}

a { 
	color: #f29038;
}
a:hover {
	text-decoration: none;
}

.clear{ clear:both;}
.thumb {
    height: 75px;
    border: 1px solid #000;
    margin: 10px 5px 0 0;
  }
.navigation-bar {
	background: #f29038;
	height: 55px;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.6);
	-moz-box-shadow:    0px 0px 10px 0px rgba(50, 50, 50, 0.6);
	box-shadow:         0px 0px 10px 0px rgba(50, 50, 50, 0.6);
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15);
}
.navigation-bar  .logo {
	display: block;
	 padding: 14px 15px 0;
	 float: left;
}
.navigation-bar h1 {
	display: block;
	padding: 0 10px 0;  
	color: #fff; 
	font-size: 18px;
	font-weight: normal;
	line-height:55px;
	 margin-bottom: 0px;
}
.navigation-bar__left a.btn { 
	color: #fff;
	display: inline-block;
	text-decoration: none;
	padding: 0 10px 0 18px;
	line-height:55px;
	font-size: 20px;
}
.navigation-bar__right, navigation-bar__left{height:55px;}
.navigation-bar__right a.btn {
	color: #fff;
	display: inline-block;
	text-decoration: none;
	padding: 0 18px 0 18px;
	line-height:55px;
	font-size: 18px;
}
.navigation-bar__right #notification{
	position:relative;
}
.navigation-bar__right #count{
	position:absolute; top:12px; right:12px;
	width:12px; height:10px; padding:2px 0 0 0;
	border-radius: 10px; background:#FFEB3B;
	font-size:10px; text-align:center;
	color:#f29038;
}

.navigation-bar nav {
	background: #fff;
	display: none;
}
.navigation-bar nav span {
	padding: 15px 20px;
	text-decoration: none;
	color: #000;
}
.navigation-bar nav span {
	display: inline-block;
	width: 25px;
}
.navigation-bar nav li a:hover {
	background: #e9e9e9;
} 
header.headerImage {
	background: url(../img/header.png);
	background-size: 100%;
	height: 215px;
	position: relative;
	margin-top: 12px;
}
header.headerImage .roundBtn{
	position: absolute;
	bottom: -30px; 
	right: 25px
}
#container {
	width: 640px;
	margin: 30px auto 0;
}
#container.dashboard {
	margin: 18px auto 0;
}
#dashboard #container .btn {
	display: inline-block;
	padding: 10px;
	margin-right: 10px;
}
#container .btn {
	display: block;
	font-size: 16px;
	color: #fff;
	background: #f29038;
	border: 0;
	width: auto;
	padding:10px 0px;
	margin-top: 5px;
	text-align: center;
	width: auto;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	text-decoration: none;
	line-height: 18px;
}
#container .btn:hover {
	background: #f29038;
}
.roundBtn {
	background: #df823d;
	padding: 15px 25px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	font-size: 18px;
	color: #fff;
	 box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
	 border: none;
}
.roundBtn:hover {
	background: #f29038;
	color: #fff;
}

.block {
	background: #fff;
	padding: 15px;
	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: 20px;
	-webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.1);
	-moz-box-shadow:    0px 0px 3px 0px rgba(0, 0, 0, 0.1);
	box-shadow:         0px 0px 3px 0px rgba(0, 0, 0, 0.1);
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	border-bottom: 3px solid #ffb879;
}

#container .centerContent{
	text-align:center;
	background:none; box-shadow:none;
}

#container .block  h2 {
	margin: 10px 0px;
}
#container .block  p {
	line-height: 24px;
	font-size: 14px;
}
#container .block .meta {
	display: inline-block;
	font-size: 12px;
	color: #bcbcbc;
	margin-right: 5px;
	margin-bottom: 10px;
}
#container .block .meta span {
	margin-right: 5px;
}
#container .block  p.margin {
	margin: 10px 0px;
}
#container .block p.meta span a {
	text-decoration: none;
	color: #bcbcbc;
}
#container .block p.meta span a:hover {
	text-decoration: underline;
}
#container .block  p.meta span {
	padding-right: 10px;
}
#container .block  p.meta span.icon {
	padding-right: 5px;
}
#container .info ul li {
	margin: 15px 0px;
	overflow: hidden;
	line-height: 45px;
}
#container .info ul li img {
	margin-right: 10px;
}
#container .info a {
	font-weight: bold;
}
#container article .left {
	width: 15%;
	float: left;
}
#container article .left .icon {
	display: inline-block;
	background: #df823d;
	padding: 15px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	font-size: 18px;
	color: #fff;
	border: none;
}
#container article .right {
	width: 85%;
	float: left;
}
#container form input {
	display: block;
	padding: 3% 2%;
	width: 96%;
	border: 1px solid #ccc;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	margin-bottom: 15px;
}
#container form .btn {
	display: block;
	font-family: arial, verdana; 
	font-size: 16px;
	color: #fff;
	background: #f29038;
	border: 0;
	width: auto;
	padding:10px 0px;
	width: 100%;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

#container form input.custom-file-input {
	display: block;
	font-family: "open sans", arial, verdana; 
	font-size: 16px;
	color: #fff;
	border: 0 !important;
	padding: 0 !important;
	margin: 0 !important;
	width: 100%;
} 
.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  content: 'Selecteer een Photo Sphere';
  display: inline-block;
  background: #f29038;
  border-radius: 2px;
	padding:10px 0px;
	width: 100%;
	text-align: center;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
}



/* CSS for Mobile 600px and below */
@media (max-width: 640px) {
	#container {	
		width: auto;
	}
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {

}
