/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}
a, a *{
  -o-transition:.3s;
  -ms-transition:.3s;
  -moz-transition:.3s;
  -webkit-transition:.3s;
  /* ...and now for the proper property */
  transition:.3s;
}

@charset "utf-8";
/* Structure CSS */

@font-face {
	font-family:'FontAwesome';
	src:url('font/fontawesome-webfont.eot?v=4.0.3');
	src:url('font/fontawesome-webfont.eot?#iefix&v=4.0.3') format('embedded-opentype'),
		url('font/fontawesome-webfont.woff?v=4.0.3') format('woff'),
		url('font/fontawesome-webfont.ttf?v=4.0.3') format('truetype'),
		url('font/fontawesome-webfont.svg?v=4.0.3#fontawesomeregular') format('svg');
	font-weight:normal;
	font-style:normal;
}
span.icon{font-family:'FontAwesome';}


body {
	background: #f3f3f3;
	font-family: arial, verdana;
}

h1{ font-size: 26px; color:  #684941; font-weight: bold; margin-bottom: 10px; }
h2{ font-size: 22px; color:  #684941; font-weight: bold; margin-bottom: 10px; }
h3{ font-size: 18px; color:  #684941; font-weight: bold; margin-bottom: 10px; }
h4{ font-size: 14px; color:  #684941; font-weight: bold; margin-bottom: 10px; }

.error					{background: #ffbaba; border: 1px solid #d8000c; color: #d8000c; padding: 15px; margin-bottom: 20px;}
.succes					{background: #dff2bf; border: 1px solid #4f8a10; color: #4f8a10; padding: 15px; margin-bottom: 20px;} 

a {
	color: #7c584c;
}
a:hover {
	text-decoration: none;
}

.clear{ clear:both;}
.thumb {
    height: 75px;
    border: 1px solid #000;
    margin: 10px 5px 0 0;
  }
header {
	background: #7c584c;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 999;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.4);
	-moz-box-shadow:    0px 0px 5px 0px rgba(50, 50, 50, 0.4);
	box-shadow:         0px 0px 5px 0px rgba(50, 50, 50, 0.4);
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
	height: 55px;
}
header h1 {
	display: inline-block;
	padding: 20px 10px 14px;  
	color: #fff; 
	font-size: 18px;
	font-weight: normal;
	 margin-bottom: 0px;
}
header .btnGroup {
	float: left;
}
header .btnGroup a.btn { 
	color: #fff;
	display: inline-block;
	text-decoration: none;
	padding: 18px 10px 16px 18px;
	font-size: 20px
}
header .btnGroupRight {
	float: right;
}
header .btnGroupRight a.btn {
	border-left: 1px solid #684941; 
	color: #fff;
	display: inline-block;
	text-decoration: none;
	padding: 15px;
}
header nav {
	background: #fff;
	display: none;
}
header nav span {
	padding: 15px 20px;
	text-decoration: none;
	color: #000;
}
header nav span {
	display: inline-block;
	width: 25px;
}
header nav li a:hover {
	background: #e9e9e9;
} 

#container {
	width: 640px;
	margin: 73px auto 0;
	
}
#container .btn {
	display: block;
	font-size: 16px;
	color: #fff;
	background: #7c584c;
	border: 0;
	width: auto;
	padding:10px 0px;
	margin-top: 5px;
	text-align: center;
	width: auto;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	text-decoration: none;
	line-height: 18px;
}
#container .btn:hover {
	background: #684941;
}
#container .block {
	background: #fff;
	padding: 15px;
	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: 20px;
	-webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.05);
	-moz-box-shadow:    0px 0px 3px 0px rgba(0, 0, 0, 0.05);
	box-shadow:         0px 0px 3px 0px rgba(0, 0, 0, 0.05);
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
#container .block  h2 {
	margin: 10px 0px;
}
#container .block  p {
	line-height: 24px;
}
#container .block  p.meta {
	font-size: 12px;
	color: #bcbcbc;
}
#container .block  p.margin {
	margin: 10px 0px;
}
#container .block p.meta span a {
	text-decoration: none;
	color: #bcbcbc;
}
#container .block p.meta span a:hover {
	text-decoration: underline;
}
#container .block  p.meta span {
	padding-right: 10px;
}
#container .block  p.meta span.icon {
	padding-right: 5px;
}
#container .info ul li {
	margin: 15px 0px;
	overflow: hidden;
	line-height: 45px;
}
#container .info ul li img {
	margin-right: 10px;
}
#container .info a {
	font-weight: bold;
}
#container form input {
	display: block;
	padding: 3% 2%;
	width: 96%;
	border: 1px solid #ccc;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	margin-bottom: 15px;
}
#container form .btn {
	display: block;
	font-family: arial, verdana; 
	font-size: 16px;
	color: #fff;
	background: #7c584c;
	border: 0;
	width: auto;
	padding:10px 0px;
	width: 100%;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

#container form input.custom-file-input {
	display: block;
	font-family: "open sans", arial, verdana; 
	font-size: 16px;
	color: #fff;
	border: 0 !important;
	padding: 0 !important;
	margin: 0 !important;
	width: 100%;
} 
.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  content: 'Selecteer een Photo Sphere';
  display: inline-block;
  background: #7c584c;
  border-radius: 2px;
	padding:10px 0px;
	width: 100%;
	text-align: center;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
}



/* CSS for Mobile 600px and below */
@media (max-width: 640px) {
	#container {	
		width: auto;
	}
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {

}
