<ons-page id="dashboard">
    <ons-toolbar>
        <div class="left"><a href="javascript:void(0)" class="btn"><span class="icon">&#xf041;</span></a> <h1>Let's Meet!</h1></div>
        <div class="center"></div>
        <div class="right" ng-controller="NotificationController"><a ng-click="check()" id="notification" class="btn"><span class="icon">&#xf0f3;</span></a></div>
    </ons-toolbar>
	
    <div id="container">
		
        <article id="user" class="block info">
            <h1>Mijn Account</h1>
            <p id="myName"></p>
            <p id="myPhone"></p>
        </article>
        
        <article id="invite" class="block info">
            <h1>Maak een afspraak</h1>

            <form name="invitation" ng-submit="invite()" ng-controller="InviteController" method="post">
                <input type="text" ng-model="name" placeholder="Naam">
                <input type="tel" ng-model="phone" placeholder="Telefoon">
                <input type="submit" class="btn" value="Uitnodiging versturen">
            </form>
            
        </article>
        
        <article id="invite" class="block info">
            <h1>Maak een afspraak</h1>

            <form name="invitation" ng-submit="inviteContact()" ng-controller="InviteContactController" method="post">
                <input type="text" ng-model="name" placeholder="Naam">
                <input type="submit" class="btn" value="Uitnodiging versturen">
            </form>
            
        </article>
        
        <!--
        <ul id="contactList">
        </ul>
        -->
        
        <article id="map" class="block info">
            <h1>Locatie (Demo)</h1>
			<ons-button modifier="light" onclick="myNavigator.pushPage('locatie.html', { animation : 'slide' } )">
				Locatie
			</ons-button>
        </article>
        
        <article id="login" class="block info">
            <ons-button modifier="light" onclick="myNavigator.popPage('index.html', { animation : 'slide' } )">
                back
            </ons-button>
        </article>
        
    </div>

</ons-page>