<ons-page id="invite">
    <ons-toolbar>
        <div class="left"><a href="javascript:void(0)" class="logo"><img src="img/logo.png" height="25" /></a> <h1>Let's Meet!</h1></div>
        <div class="center"></div>
        <div class="right">
        	<a onclick="myNavigator.pushPage('notifications.html', { animation : 'lift' } )" id="notification" class="btn"><span class="icon">&#xf0f3;</span></a>
        </div>
    </ons-toolbar>
	
    <div id="container" ng-controller="SearchContactController">
          

		<article id="invite" class="block info">
            <h1>Zoeken naar contacten</h1>
            <form name="invitation" ng-submit="searchContact()" method="post">
                <input class="search" type="text" ng-model="name" placeholder="Naam">
                <input class="searchbtn btn icon" type="submit" value="&#xf002;">
            </form>
            <form name="invitation" ng-submit="invite()" method="post">
				
                <div id="valueContact" ng-bind-html="myHTML">Contact niet gevonden

                </div>
                <input type="hidden" ng-model="firstlat">
				<input type="hidden" ng-model="firstlon">
				
				<label class="left">Datum</label>
				<label class="right">Tijd</label>
				<div class="clear"></div>
				<input class="small" type="date" placeholder="Datum"  ng-model="datum">
				<input class="small last" type="time"  placeholder="tijd" value="selecteer tijd" ng-model="tijd">

                <p>De locatie van de afspraak wordt automatisch bepaald in het midden.</p>
                <input type="submit" class="btn" value="Uitnodiging versturen">
            </form>
        </article> 

    </div>

</ons-page>