<ons-page id="invite">
    <ons-toolbar>
        <div class="left"><a href="javascript:void(0)" class="logo"><img src="img/logo.png" height="25" /></a> <h1>Let's Meet!</h1></div>
        <div class="center"></div>
        <div class="right" ng-controller="NotificationController"><a ng-click="check()" id="notification" class="btn"><span class="icon">&#xf0f3;</span></a></div>
    </ons-toolbar>
	
    <div id="container" ng-controller="SearchContactController">
          

		<article id="invite" class="block info">
            <h1>Zoeken naar contacten</h1>
            <form name="invitation" ng-submit="searchContact()" method="post">
                <input type="text" ng-model="name" placeholder="Naam">
                <input type="submit" class="btn" value="Zoeken">
            </form>
        </article>
        
        <article id="inviteForm" class="block info">
            <form name="invitation" ng-submit="invite()" method="post">
				<h1>Selecteer datum en tijd</h1>
				<input type="date" ng-model="datum">
				<input type="time" ng-model="tijd">
				
				<h1>Selecteer contactpersoon</h1>
                <div id="valueContact" ng-bind-html="myHTML">Contact niet gevonden
                <label>
					<input type='radio' ng-model='contact' name='contact' value='test1'>
						test 1
				</label>
                 <label>
					<input type='radio' ng-model='contact' name='contact' value='test2'>
						test 2
				</label>
                 <label>
					<input type='radio' ng-model='contact' name='contact' value='test3'>
						test 3
				</label>
                 <label>
					<input type='radio' ng-model='contact' name='contact' value='test4'>
						test 4
				</label>
                <input type="hidden" ng-model="firstlat">
				<input type="hidden" ng-model="firstlon">
                
                
                </div>
                <input type="submit" class="btn" value="Uitnodiging versturen">
            </form>
        </article> 

    </div>

</ons-page>