<ons-page id="register">
    <ons-toolbar>
        <div class="left"><a href="javascript:void(0)" class="logo"><img src="img/logo.png" height="25" /></a> <h1>Let's Meet!</h1></div>
        <div class="center"></div>
        <div class="right"></div>
    </ons-toolbar>
    
    <div id="container">

        <article id="login" class="block info">
            <h1>Aanmelden</h1>
            <form name="invitation" ng-submit="register()" ng-controller="LoginController" method="post">
                <input type="text" ng-model="name" placeholder="Voor- & Achternaam" value="">
                <input type="tel" ng-model="phone" placeholder="Telefoon" value="">
                <input type="submit" class="btn" value="Aanmelden">
            </form>
        </article>

    </div>
</ons-page>