@font-face {
	font-family:'FontAwesome';
	src:url('fonts/fontawesome-webfont.eot?v=4.0.3');
	src:url('fonts/fontawesome-webfont.eot?#iefix&v=4.0.3') format('embedded-opentype'),
		url('fonts/fontawesome-webfont.woff?v=4.0.3') format('woff'),
		url('fonts/fontawesome-webfont.ttf?v=4.0.3') format('truetype'),
		url('fonts/fontawesome-webfont.svg?v=4.0.3#fontawesomeregular') format('svg');
	font-weight:normal;
	font-style:normal;
}

.icon{font-family:'FontAwesome';   margin-right: 5px;}

@font-face {
    font-family: 'slim_joeregular';
    src: url('fonts/Slim Joe-webfont.eot');
    src: url('fonts/Slim Joe-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Slim Joe-webfont.woff2') format('woff2'),
         url('fonts/Slim Joe-webfont.woff') format('woff'),
         url('fonts/Slim Joe-webfont.ttf') format('truetype'),
         url('fonts/Slim Joe-webfont.svg#slim_joeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GeomanistRegular';
    src: url('fonts/GeomanistRegular.eot');
    src: url('fonts/GeomanistRegular.eot') format('embedded-opentype'),
         url('fonts/GeomanistRegular.woff2') format('woff2'),
         url('fonts/GeomanistRegular.woff') format('woff'),
         url('fonts/GeomanistRegular.ttf') format('truetype'),
         url('fonts/GeomanistRegular.svg#GeomanistRegular') format('svg');
}

@font-face {
    font-family: 'HeroLight';
    src: url('fonts/HeroLight.eot');
    src: url('fonts/HeroLight.eot') format('embedded-opentype'),
         url('fonts/HeroLight.woff2') format('woff2'),
         url('fonts/HeroLight.woff') format('woff'),
         url('fonts/HeroLight.ttf') format('truetype'),
         url('fonts/HeroLight.svg#HeroLight') format('svg');
}

body{

background-color:#f9f8f8;
margin:0;
padding:0;
}

.container{ 
width:auto; 
}

header{ 
width:auto; 
height:105px;
}

/*.upperheader{ 
width:auto;
height:30px; 
background-color: #f678c5;
top:0;
} */

.menuLogo{ 
width:50px;
float:left;
}

.officialheader{ 
width:auto; 
height:75px;
background-color: #f890d0;
font-family: 'HeroLight';

}


article.login{ 
width:auto;
height:auto;
margin: 50px 25px;
}

.LogoDiv{ 
width:100%;
height:200px;
margin-top:100px;
}

img.LogoImage{ 
width:200px;
display:block;
margin:50px auto;
}

input.fields{ 
  width: 100%;
  margin: 5px 0; 
  padding: 15px 0px;
  font-family: 'HeroLight';
  font-size: 22px;
  border: solid 1px #e4e3e3;
  border-radius:5px;
  color:#f890d0;
}

#submitLogin, #submitRegister{ 
  margin: 25px auto;
  display: block;
  width: 100%;
  background-color:#f890d0;
  color:white;
  border: none;
  height: 65px;
  font-family: 'HeroLight';
  font-size: 22px;
  border-radius:5px;
  cursor: pointer;
}

#register{
	margin: 25px auto;
  display: block;
  width: 100%;
  background-color:#d9d9d9;
  color:white;
  border: none;
  height: 65px;
  font-family: 'HeroLight';
  font-size: 22px;
  border-radius:5px;
  cursor: pointer;
}

input[placeholder]{
text-align:center;
}

input.button{ 
  margin: 25px auto;
  display: block;
  width: 100%;
  background-color:#f890d0;
  color:white;
  border: none;
  height: 65px;
  font-family: 'HeroLight';
  font-size: 22px;
  border-radius:5px;
}

legend{ 
margin: 25px 0px;
 font-family: 'HeroLight';
  font-size: 22px;
}

label{ 
display: block;
  width: 234px;
  height: 25px;
  font-family: 'HeroLight';
  font-size: 22px;
  float: right;
  margin-right: 200px;
} 

input#helpen, input#nodig{ 
  float: left;
  height: 10px;
  width: 15px;
}

.line{ 
width:100%;
height:1px;
background-color:#e8e8e8;
float:right;
margin-top:10px;
}

.lineProfile{ 
width:100%;
height:1px;
background-color:#e8e8e8;
}

h1{ 
margin:0px auto;
font-family: 'slim_joeregular';
font-size: 29px;
color: black;
text-align: center;
padding: 21px;
}



.titel{
	background-color: #f890d0;
	width:100%;
	height: 75px;
	top: 0;	
	text-align: center;
	line-height: 75px;
	color: white;
	font-family: 'slim_joeregular';
	font-size: 29px;
	text-transform: uppercase;
	background-image: url("../img/MenuLogo.png");
	background-position: 100px, 25px;
	background-repeat:no-repeat;
	background-size:40px, auto;
}

.tabblad{
	width: 30px;
	height:75px;
	top: 0;
	left: 0;
	float:left;
	background-color: black;
}

.member_image{
	width: 75px;
	height: 75px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background: url("../img/marita.jpg") no-repeat;	
	float:left;	
}

.member_name{
	line-height: 80px;
	text-transform: uppercase;
	margin-left: 5%;
	float: left;
	font-size: 24px;
}

.member_distance{
	width: auto;
	height: 65px;
	line-height: 80px;
	float: right;
	right: 0;
	font-size: 16px;
}

/*IONIC FRAMEWORK*/
.view-container{
	font-family: 'HeroLight';
}

/* Official header */ 
.bar.bar-stable{
width:auto; 
height:50px;
background-color: #f890d0;
font-family: 'HeroLight';
} 

.bar.bar-header h1{
  	font-family: 'HeroLight';
	text-transform: uppercase;	
	text-align: center;
	padding: 0px;
}

#splash{
	background-image: url("img/logo3b.gif");
	background-position: center 205px;
	background-repeat:no-repeat;
	background-color: white;
	background-size:400px, auto;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: block;
}

.user_name{
position: absolute; 
top: 320px; 
left: 20px; 
width: 100%; 
text-transform: uppercase; 
font-family: 'slim_joeregular';
font-size: 29px;
color:white;
text-shadow: 0px 1px #6e6e6e;
}

.user_image img{
  width: 100%;
  height: auto;
  top:0;
   position: relative;
}

.user_gear{
	/*text-align: center;
	margin-top: 20px; 
	height: 40px;
	line-height: 40px;*/
padding-top: 4px;
  margin: 30px auto;
  height: 100px;
  line-height: 0px;
  width: 90%;
  background-color:white;
  border-radius: 5px;
-webkit-box-shadow: 0px 0px 5px 0px rgba(224,221,221,1);
-moz-box-shadow: 0px 0px 5px 0px rgba(224,221,221,1);
box-shadow: 0px 0px 5px 0px rgba(224,221,221,1);
}

.user_distance{ 
padding-top: 4px;
  margin: 30px auto;
  height: 100px;
  line-height: 0px;
  width: 90%;
  background-color:white;
  border-radius: 5px;
-webkit-box-shadow: 0px 0px 5px 0px rgba(224,221,221,1);
-moz-box-shadow: 0px 0px 5px 0px rgba(224,221,221,1);
box-shadow: 0px 0px 5px 0px rgba(224,221,221,1);
}

h3.profileHeadings{
display:block; 
margin-left:15px;
font-size: 22px;
font-family: 'HeroLight'; 
text-align:left;
/*color:#f890d0;*/
}

.profileDescription{
margin: 30px 0px 0px 15px;
}


.contact_me{
	text-align: center;
	width: 90%;
	background-color: #f890d0;
	margin: 20px auto;
	display:block;
	font-family: 'HeroLight';
	color: white;
	text-transform: uppercase;
	border-radius:5px;
	border:none;
}

.user_number{
display:none; /* Wordt niet getoond, kan nog in een box gedisplayed worden */
	text-align: center;	
	margin-top: 20px;
	font-size: 24px;
}

.numberhide{
	display: none;	
}

.numbershow{
	display: block;
}

.item-complex .item-content, .item-radio .item-content{
	padding: 16px ! !important;
}
	
.menuleft .item{
	padding: 15px;
}

.menuleft .item:hover{
	background-color: #E5E5E5;
}




